# dependencies
node_modules

# production
build
# allow publishing docs to GitHub Pages
# (do not ignore docs folder)

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
.idea
